__pycache__
.vscode
.DS_Store
.pytest_cache
drawings
fitnessFiles
workspace
.history
voxcraft-sim
gp-fitness
nohup.out
genotype-phenotype_maps
300000_cppn_neat
cppn-neat-motifs.pickle
ES-HYPERNEAT
result-video
ES-HYPERNEAT-GP-MAP-1000000
hyperneat-motifs.pickle
pid.txt
motif_data.json
cppn-neat-motifs-3-by-3.pickle
cppn-neat-motifs-3-by-3-1k+.pickle
tools/demo_basic.history
pid.txt
frequency-components-first-10k.pickle
pid.txt
